<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Online Wallet</a>
      </div>
     
       <ul class="nav navbar-nav">
         
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="userloginService.isUserLoggedIn()" routerLink="/userprofile" class="nav-link">My Profile</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="userloginService.isUserLoggedIn()" routerLink="/mywallet" class="nav-link">My Wallet</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="userloginService.isUserLoggedIn()" routerLink="/addmoney" class="nav-link">Add Money</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="userloginService.isUserLoggedIn()" routerLink="/transfermoney" class="nav-link">Transfer Money</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="adminloginService.isAdminLoggedIn()" routerLink="/adminprofile" class="nav-link">My Profile</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="adminloginService.isAdminLoggedIn()" routerLink="/validateRegisterdUsers" class="nav-link">Validate Registered Users</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="!userloginService.isUserLoggedIn() && !adminloginService.isAdminLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="!userloginService.isUserLoggedIn() && !adminloginService.isAdminLoggedIn()" routerLink="/create" class="nav-link">Register</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="userloginService.isUserLoggedIn()" routerLink="/userlogout" class="nav-link" class="pull-right">Logout</a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a *ngIf="adminloginService.isAdminLoggedIn()" routerLink="/adminlogout" class="nav-link" class="pull-right">Logout</a></li>
       
        </ul>
    </div>
    
  </nav>
