<div class="container" style="margin-left: 0px;">
  <h1>Transfer Money</h1>
  <hr />

  <!-- Non-entry for not accepted users -->
  <div
    class="jumbotron text-center"
    *ngIf="accountStatus == 'registered' || accountStatus == 'rejected'"
  >
    <p>
      Sorry you would not be able to access this. Your account has not been
      validated.
    </p>
    <h1>Please Come Again Later!!</h1>
  </div>

  <!-- Transfer Money Page starts -->
  <div class="row" *ngIf="accountStatus == 'accepted'">
    <form id="inputForm" class="form-group" (ngSubmit)="onSubmit()">
      <!-- Search a user -->
      <div class="container" *ngIf="!recieverDetails">
        <div class="row">
          <div class="form-group">
            <input
              class="form-control"
              type="search"
              name="search"
              (ngModelChange)="onChange($event)"
              [(ngModel)]="search"
              placeholder="Start searching for a Reciever by Name"
            />
          </div>
          <br />
          <br />
          <div *ngIf="!isRecieverFound">
            <p class="alert alert-danger">Reciever Not Found</p>
          </div>
          <div class="jumbotron text-center" *ngIf="!isRecieverValid">
            <h1>Start Searching for a User!!</h1>
          </div>
        </div>

        <!-- Userlist as Search result -->
        <div class="row">
          <table class="table table-hover" *ngIf="isRecieverValid">
            <thead class="thead-dark">
              <tr>
                <th><h5>User-Id</h5></th>
                <th><h5>User Name</h5></th>
                <th><h5>Phone No.</h5></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let hero of recieverList"
                (click)="setClickedRow(hero)"
              >
                <td>{{ hero.userId }}</td>
                <td>{{ hero.userName }}</td>
                <td>{{ hero.phoneNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Taking amount to be transfered from the user -->
      <div *ngIf="!rtransaction">
        <div class="container" *ngIf="recieverDetails">
          <div class="polaroid">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2>
                  <strong>{{ recieverDetails.userName }}</strong>
                </h2>
                <h3>
                  Wallet a/c linked with {{ recieverDetails.phoneNumber }}
                </h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <br />
                  <input
                    type="number"
                    name="amount"
                    (ngModelChange)="onChangeBalance($event)"
                    [(ngModel)]="transaction.amount"
                    *ngIf="isRecieverValid"
                    required
                    class="form-control"
                    placeholder="Enter ₹ Amount to transfer"
                  />
                  <div class="row" *ngIf="!isBalance">
                    <div class="col-xs-12">
                      <br />
                      <p class="alert alert-danger">
                        Insufficient balance
                      </p>
                    </div>
                  </div>
                  <div class="row" *ngIf="isNegative">
                    <div class="col-xs-12">
                      <br />
                      <p class="alert alert-danger">
                        Transfer Amount should be greater than zero
                      </p>
                    </div>
                  </div>
                </div>
                <br />
                <br />
                <button
                  (click)="addMoney()"
                  class="registerbtn"
                  *ngIf="!isBalance"
                >
                  <strong>Add Money + ₹{{ amountNeed }}</strong>
                </button>

                <button
                  type="submit"
                  class="registerbtn"
                  data-toggle="modal"
                  data-target="#myModal_processing"
                  *ngIf="!isInvalid"
                >
                  <strong>Transfer fund</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div
      class="modal fade"
      id="myModal_processing"
      role="dialog"
      data-keyboard="false"
      data-backdrop="static"
    >
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Online Wallet</h4>
          </div>
          <div class="modal-body">
            <p>Transaction Successfull!!</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Showing Transaction Receipt -->
    <div *ngIf="rtransaction">
      <div class="polaroid">
        <div class="panel panel-info">
          <div class="panel-heading"><h4>Transaction Reciept</h4></div>
          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>
                    <h5><strong>Transaction Id : </strong></h5>
                    <span>
                      <h5>{{ rtransaction.transactionId }}</h5></span
                    >
                  </td>
                  <td>
                    <h5><strong>Date of transaction</strong></h5>
                    <span>
                      <h5>
                        {{ rtransaction.dateOfTransaction | date: "medium" }}
                      </h5></span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th><h5>Reciever Id</h5></th>
                  <th><h5>Reciever Name</h5></th>
                  <th><h5>Sender Id</h5></th>
                  <th><h5>Sender Name</h5></th>
                  <th><h5>Amount Transfered</h5></th>
                  <th><h5>Closing Balance</h5></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h5>{{ rtransaction.receiverId }}</h5>
                  </td>
                  <td>
                    <h5>{{ recieverDetails.userName }}</h5>
                  </td>
                  <td>
                    <h5>{{ rtransaction.senderId }}</h5>
                  </td>
                  <td>
                    <h5>{{ userDetails.userName }}</h5>
                  </td>
                  <td>
                    <h5>{{ rtransaction.amount }}</h5>
                  </td>
                  <td>
                    <h5>{{ amountAvailable - rtransaction.amount }}</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
