<div class="container"  style="margin-left: 0px;">

    <h1>Add Money To Wallet</h1>
    <hr>
    <div class="jumbotron text-center" *ngIf="accountStatus == 'registered' || accountStatus == 'rejected'">
        <p>Sorry you would not be able to access this. Your account has not been validated.</p>
        <h1>Please Come Again Later!!</h1>
      </div>
    <div class="row" *ngIf="accountStatus == 'accepted'">
       
        <!-- Validate Credit Card Details -->
        <form (ngSubmit)="checkCard()">

            <div class="container" style="width: 70%;">

                <label for="cardNo"><b>Enter Credit Card No.</b></label>
                <input type="text" placeholder="Credit Card No. XXXX" name="cardNo" (ngModelChange)="onChangeCard($event)"
                    id="cardNo" required minlength="4" required maxlength="6" class="form-control" required
                    [(ngModel)]="cardsearch.cardNo" required digitOnly>

                <div row *ngIf="!isValidCard">
                    <div class="col-xs-12" style="color:red"></div>
                    <p class="alert alert-danger"><strong>Card No. may be null or negative!<br>Please enter valid Card No.</strong></p>
                </div>
            <br>
            <button class="cardCheckerCss" type="submit" [disabled]="!cardStatus"><strong>Proceed with Card No.</strong> </button>
           
            <div class="row" *ngIf="!isCardCheck">
                <div class="col-xs-12">
                    <br>
                    <p class="alert alert-danger">
                        <strong>Sorry!</strong><br>Entered Card No is not found in database.<br>Please try again with another one.

                    </p>
                </div>
            </div>

            </div>

            <!-- Add amount to wallet -->
            <div [hidden]="!amountStatus" class="container" style="width: 70%;">

                <label for="amount"><b>Amount To Be Enter</b></label>
                <input type="text" placeholder="Enter Amount" name="amount" id="amount"
                    (ngModelChange)="onChangeAmount($event)" required min="1" required minlength="1" required
                    maxlength="6" class="form-control" required [(ngModel)]="cardsearch.amount" required digitOnly>

                <div *ngIf="!isValidAmount">
                    <div class="col-xs-12" style="color:red">
                        <p class="alert alert-danger"><strong>Amount may be null or negative! Please enter valid amount</strong></p>
                    </div>
                </div>

                <br>

                <button class="addMoneyCss"  [disabled]="!isAmountProceed" (click)="onAdd()"><strong>Add Money to Wallet</strong></button>

                <div *ngIf = "!isAddDone">
                    <p class="alert alert-success"> <strong>Congratulation!</strong>Balance is successfully added to your account</p>
                </div>

                <div *ngIf = "!isNotAdd">
                    <p class="alert alert-danger"> <strong>Oops!</strong>Balance could not be add to account due to insufficent balance in your card.</p>
                </div>
               
            </div>
    </form>  
</div>
</div>
